@page
@model WeekTwo.Pages.WS1Model
@{

    <ul>
    @foreach (string countries in @Model.MyTestArray){

        <li>@countries</li>

    }

    </ul>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

</body>
</html>
