@page
@model FormWSModel
@{

    ViewData["Title"] = "Error";
}


<form method="post">

    <label class="col-sm-6" asp-for=ProductCode>Product Code</label>
    <input class="col-sm-6" asp-for=ProductCode />


    <label class="col-sm-4" for="Red">

        <input value="Red" id="Red" type="radio" asp-for=Colour> Red
    </label>

    <label class="col-sm-4" for="Yellow">

        <input value="Yellow" id="Yellow" type="radio" asp-for=Colour> Yellow
    </label>

    <label class="col-sm-4" for="Black">

        <input value="Black" id="Black" type="radio" asp-for=Colour> Black
    </label>

    <button type="submit">Submit</button>

</form>